@font-face {
  font-family: "Kimjungchul Gothic";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.woff) format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.ttf)
      format("truetype");
}
@font-face {
  font-family: "Kimjungchul Gothic";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url(../public/fonts/Kimjungchul/KimjungchulGothic-Regular.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Regular.woff)
      format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "Kimjungchul Gothic";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.woff) format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulGothic-Bold.ttf)
      format("truetype");
}
@font-face {
  font-family: "Kimjungchul Gothic";
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  src: url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Light.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Light.woff)
      format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Light.ttf)
      format("truetype");
}
@font-face {
  font-family: "Kimjungchul Myungjo";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Regular.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Regular.woff)
      format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Regular.ttf)
      format("truetype");
}
@font-face {
  font-family: "Kimjungchul Myungjo";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Bold.woff2)
      format("woff2"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Bold.woff) format("woff"),
    url(../public/fonts/Kimjungchul/KimjungchulMyungjo-Bold.ttf)
      format("truetype");
}

html {
  font-family: "Kimjungchul Myungjo", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
