@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Amagro";
  src: url("../public/fonts/english/Amagro/Amagro.ttf");
}

@font-face {
  font-family: "PT serif";
  src: url("../public/fonts/english/PT_Serif/PTSerif-Regular.ttf"),
    url("../public/fonts/english/PT_Serif/PTSerif-Bold.ttf");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../public/fonts/english/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Lustria";
  src: url("../public/fonts/english/Lustria/Lustria-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/english/Roboto/Roboto-Light.ttf"),
    url("../public/fonts/english/Roboto/Roboto-Regular.ttf"),
    url("../public/fonts/english/Roboto/Roboto-Medium.ttf"),
    url("../public/fonts/english/Roboto/Roboto-Bold.ttf");
}

/* ------------------------------------------------------------------ */

@font-face {
  font-family: "Noto Serif KR";
  src: url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-ExtraLight.otf"),
    url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-Light.otf"),
    url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-Medium.otf"),
    url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-Regular.otf"),
    url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-SemiBold.otf"),
    url("../public/fonts/korean/Noto_Serif_KR/NotoSerifKR-Bold.otf");
}
@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../public/fonts/korean/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf"),
    url("../public/fonts/korean/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf"),
    url("../public/fonts/korean/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
}
@font-face {
  font-family: "Do Hyeon";
  src: url("../public/fonts/korean/Do_Hyeon/DoHyeon-Regular.ttf");
  unicode-range: U+AC00-D7A3;
}

/* ------------------------------------------------------------------ */

body {
  font-family: "Roboto";
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amagro";
}

/* ------------------------------------------------------------------ */

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

.btn-project {
  @apply inline-flex px-6 py-2 text-lg text-white bg-indigo-500 border-0 rounded dark:text-white focus:outline-none hover:bg-indigo-600;
}

.project-card {
  @apply flex flex-col w-full m-3 transition duration-300 transform border border-gray-300 rounded-xl hover:scale-105 hover:shadow-lg dark:border-gray-200/50 dark:hover:shadow-gray-400/40 hover:text-blue-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-900 bg-gray-100 dark:text-white dark:bg-slate-600/20;
}

a {
  @apply text-slate-900 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-900 dark:text-slate-400;
}

input:focus {
  outline: none;
  border-bottom: 0.12rem solid gray;
}

/* ------------------------------------------------------------------ */

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
