@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Noto Serif KR";
  src: url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Light.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Medium.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-Regular.otf"),
    url("../public/fonts/Noto_Serif_KR/NotoSerifKR-SemiBold.otf");
}
@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../public/fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf"),
    url("../public/fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf"),
    url("../public/fonts/Nanum_Myeongjo/NanumMyeongjo-ExtraBold.ttf");
}

html {
  font-family: "Noto Serif KR", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

/* ------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-header;
}

/* ------------------------------------------------------------------ */

.bg-primary {
  @apply bg-white dark:bg-slate-800;
}

.btn-project {
  @apply inline-flex px-6 py-2 text-lg text-white bg-indigo-500 border-0 rounded dark:text-white focus:outline-none hover:bg-indigo-600;
}

.project-card {
  @apply flex flex-col w-full m-3 transition duration-300 transform border border-gray-300 rounded-xl hover:scale-105 hover:shadow-lg dark:border-gray-200/50 dark:hover:shadow-gray-400/40 hover:text-blue-600;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-slate-900 dark:text-white;
}

footer {
  @apply text-gray-900 bg-gray-100 dark:text-white dark:bg-slate-600/20;
}

a {
  @apply text-slate-900 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50;
}

p {
  @apply text-slate-900 dark:text-slate-400;
}

input,
textarea {
  @apply bg-white dark:bg-black;
}

input:focus {
  outline: none;
  border-bottom: 0.12rem solid gray;
}

/* ------------------------------------------------------------------ */

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.kgu-gradient {
  background: rgb(242, 88, 34);
  background: linear-gradient(
    135deg,
    rgba(242, 88, 34, 1) 0%,
    rgba(247, 148, 29, 1) 34%,
    rgba(0, 90, 171, 1) 66%,
    rgba(0, 171, 91, 1) 100%
  );
}
