@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ------------------------------------------------------------------ */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* anchor url offset */
}

/* ------------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kimjungchul Gothic", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
i,
button,
span,
p,
label,
input {
  @apply text-light_font_1 dark:text-night_font_1;
}

html,
body,
input,
textarea {
  @apply bg-light_bg_1 dark:bg-night_bg_1;
}

input:focus {
  outline: none;
  border-bottom: 0.12rem solid gray;
}

footer {
  @apply text-gray-900 bg-light_bg_1 dark:text-night_font_1 dark:bg-night_bg_1;
}
/* ------------------------------------------------------------------ */

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.col-end {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.kgu-gradient {
  background: rgb(242, 88, 34);
  background: linear-gradient(
    135deg,
    rgba(242, 88, 34, 1) 0%,
    rgba(247, 148, 29, 1) 34%,
    rgba(0, 171, 91, 1) 66%,
    rgba(0, 90, 171, 1) 100%
  );
}

.kgu-gradient__font {
  background: -webkit-linear-gradient(
    135deg,
    rgba(0, 90, 171, 1) 0%,
    rgba(0, 171, 91, 1) 34%,
    rgba(247, 148, 29, 1) 66%,
    rgba(242, 88, 34, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* default border color */
div,
span,
main,
section,
p,
footer,
header,
input,
button,
textarea {
  @apply border-light_font_1 dark:border-night_font_1;
}

.half-circle {
  width: 120px;
  height: 60px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  @apply lg:cursor-none;
}

.cursor,
.cursor-effect {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.4s ease-in-out, transform 2s ease-in-out;
  z-index: 1000;
}

.cursor {
  width: 0.6rem;
  height: 0.6rem;
  @apply bg-light_font_1 dark:bg-night_font_1;
}

.cursor-effect {
  width: 2.4rem;
  height: 2.4rem;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  @apply border border-light_font_1 dark:border-night_font_1;
}

/* ------------------------------------------------------------------ */

.sent-profile {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.received-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.sent-bg {
  background-color: whitesmoke;
  border-bottom-right-radius: 0;
}

.sent-bg p {
  color: black;
}

.received-bg {
  border-top-left-radius: 0;
}

.textfield {
  @apply w-full px-3 py-1 leading-8 transition-colors duration-200 ease-in-out border-b outline-none font-body focus:border focus:rounded focus:border-gray-500 hover:ring-1 hover:ring-gray-500 hover:rounded placeholder:text-xs;
}

.textareafield {
  @apply w-full px-3 py-1 leading-8 transition-colors duration-200 ease-in-out border-b outline-none font-body focus:border focus:rounded focus:border-gray-500 hover:ring-1 hover:ring-gray-500 hover:rounded placeholder:text-xs placeholder:pt-2;
}
